@(host: String, port: Int, nodes: Set[NodeInfo], namespaces: List[NamespaceInfo])(implicit request: MessagesRequestHeader)
@main("AeroUI - Cluster overview", host, port, namespaces) {
<section class="hero welcome is-small">
    @request.flash.data.map{ case (name, value) =>
    <div class="columns">
        <div class="column is-12">
            <div class="notification is-danger is-size-7">
                <button class="delete"></button>
                @value
            </div>
        </div>
    </div>
    }
<div class="columns">
<div class="column is-12">

            <div class="container">
                <h1 class="is-info is-size-5 is-4">
                    CLUSTER OVERVIEW
                </h1>
            </div>
</div>
</div>
</section>
<section class="cluster-info">
    <div class="columns">
        <div class="column is-12">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Nodes
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tr>
                                <th>#</th>
                                <th>Active</th>
                                <th>ID</th>
                                <th>Host</th>
                                <th>Port</th>
                                <th>Version</th>
                            </tr>
                            <tbody>
                            @for((node, index) <- nodes.zipWithIndex) {
                            <tr>
                                <td>@{index+1}</td>
                                <td> <span class="tag is-success">@node.isActive</span></td>
                                <td>@node.name</td>
                                <td>@node.host.name</td>
                                <td>@node.host.port</td>
                                <td>@node.version</td>
                                <td class="level-right"><a class="button is-small" href="#">Show config</a></td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Namespaces
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tr>
                                <th>Name</th>
                                <th>Storage engine</th>
                                <th>Replication factor</th>
                                <th>Records</th>
                                <th>Memory used / total (% used)</th>
                                <th>Disk used / total (% used)</th>
                            </tr>
                            <tbody>
                            @for((namespace, index) <- namespaces.zipWithIndex) {
                            <tr>
                                <td>@namespace.name</td>
                                <td>@namespace.storageEngine</td>
                                <td>@namespace.replicationFactor</td>
                                <td>@namespace.objectsCount</td>
                                <td>@namespace.getMemoryUsedBytesH / @namespace.getMemoryTotalSizeH (@namespace.getMemoryUsagePercentage%)</td>
                                <td>@if(namespace.isUsingDisk){@namespace.getDiskUsedBytesH / @namespace.getDiskTotalSizeH (@namespace.getDiskUsagePercentage%)} else { - }</td>
                                <td class="level-right"><a class="button is-small" href="@routes.NamespaceController.namespace(host, port, namespace.name, None)">Open</a></td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}