@(host: String, port: Int, namespaces: List[NamespaceInfo])
@defining(play.core.PlayVersion.current) { version =>
<p class="menu-label">
  General
</p>
<ul class="menu-list">
<li><a href="@routes.HomeController.cluster(host, port)">Cluster overview</a></li>
</ul>
<ul class="menu-list">
  <li><a href="@routes.HomeController.cluster(host, port)">Namespaces</a>
  @for(namespace <- namespaces) {
    <ul><a href="@routes.HomeController.namespace(host, port, namespace.name, None)">@namespace.name</a></ul>
  }
  </li>
</ul>
}