@(host: String, port: Int, namespaces: List[NamespaceInfo], selectedNamespace: NamespaceInfo)
@main("namespace",host, port, namespaces) {
<section class="hero welcome is-small">
    <div class="columns">
        <div class="column is-12">

            <div class="container">
                <h1 class="is-info is-size-5 is-4">
                    NAMESPACE: @selectedNamespace.name
                </h1>
            </div>

        </div>
    </div>
</section>
<section class="cluster-info">
    <div class="columns">
        <div class="column is-12">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Sets
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tr>
                                <th>Name</th>
                                <th>Storage engine</th>
                                <th>Records</th>
                                <th>Replication factor</th>
                            </tr>
                            <tbody>
                            @for((namespace, index) <- namespaces.zipWithIndex) {
                            <tr>
                                <td>@namespace.name</td>
                                <td>@namespace.getStorageEngine</td>
                                <td>@namespace.getObjects</td>
                                <td>@namespace.getReplicationFactor</td>
                                <td class="level-right"><a class="show-config button is-small" href="#">Open</a></td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">View All</a>
                </footer>
            </div>
        </div>
    </div>
</section>
}