@(host: String, port: Int, namespaces: List[NamespaceInfo], sets: List[SetInfo], selectedNamespaceName: String, selectedSet: SetInfo, queryForm: Form[QueryForm.Data], record: Option[AerospikeRecord])(implicit request: MessagesRequestHeader)
@import helper._
@implicitField = @{ helper.FieldConstructor(customFormNamespace.f) }

@main("Namespace " + selectedNamespaceName ,host, port, namespaces) {
<section class="hero welcome is-small">
    <div class="columns">
        <div class="column is-12">
            @request.flash.data.map{ case (name, value) =>
            @if(name=="exception"){
            <div class="notification is-danger is-size-7">
                <button class="delete"></button>
                @value
            </div>
            }
            @if(name=="message"){
            <div class="notification is-success is-size-7">
                <button class="delete"></button>
                @value
            </div>
            }
            }
        </div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <div class="container">
                <h1 class="is-info is-size-5 is-4">
                    NAMESPACE @selectedNamespaceName
                </h1>
            </div>

        </div>
    </div>
</section>
<section class="cluster-info">
    <div class="columns">
        <div class="column is-12">
            <section class="namespace-form">
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">Set name</label>
                            <div class="select">
                                <select>
                                    @for((set, index) <- sets.zipWithIndex) {
                                    <option @if(selectedSet.name== set.name) {selected}
                                            onclick="location.href='@routes.NamespaceController.namespaceWithSet(host, port, selectedNamespaceName, set.name)'">
                                        @set.name
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="column is-5">
                        @helper.form(action = routes.NamespaceController.handleQueryForm(host, port,
                        selectedNamespaceName,
                        selectedSet.name)) {
                        @CSRF.formField
                        @helper.inputText(queryForm("Key"), Symbol("class") -> "input is-normal", Symbol("placeholder")
                        ->
                        "Primary key")
                        }
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Set infos
                            </p>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tr>
                                        <th>Objects</th>
                                        <th>Memory used by data</th>
                                        <th>Disable eviction</th>
                                        <th>Set enable xdr</th>
                                        <th>Stop writes count</th>
                                        <th>Truncate LUT</th>
                                        <th>Tombstones</th>
                                    </tr>
                                    <tbody>
                                    @for((set, index) <- sets.zipWithIndex) {
                                    @if(selectedSet.name == set.name){
                                    <tr class="">
                                        <td>@set.getObjectsCountH</td>
                                        <td>@set.getMemoryUsedBytesH</td>
                                        <td>@set.disableEviction</td>
                                        <td>@set.enableXdr</td>
                                        <td>@set.stopWritesCount</td>
                                        <td>@set.truncateLut</td>
                                        <td>@set.tombstones</td>
                                    </tr>
                                    }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if(record.isDefined) {
                    <div class="container">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Query results
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped is-hoverable">
                                        <tr>
                                            <th></th>
                                            <th>PK</th>
                                            <th>Generation</th>
                                            <th>Expiration</th>
                                            @for(binName <- record.get.bins.keys){
                                            <th>@binName</th>
                                            }
                                        </tr>
                                        <tbody>
                                        <tr>
                                            <td width="5%">
                                                <a id="open-modal" class="button is-size-7">
                                                <span class="icon">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                                </a></td>
                                            <td>@record.get.key</td>
                                            <td>@record.get.generation</td>
                                            <td>@record.get.expiration</td>
                                            @for(binValue <- record.get.bins.values){
                                            <td>@binValue</td>
                                            }
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal-background"></div>
                        <div class="confirm modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Are you sure ?</p>
                            </header>
                            <section class="modal-card-body">
                                <p>Delete record with PK = @record.get.key</p>
                            </section>
                            <footer class="modal-card-foot">
                                <div class="container">
                                    <nav class="level">
                                        <div class="level-left">
                                            <a class="button is-success" href="@routes.NamespaceController.deleteRecord(host, port, selectedNamespaceName, selectedSet.name, record.get.key)">Yes</a>
                                        </div>
                                        <div class="level-left">
                                            <a id="confirm-delete-no" class="button" href="">Cancel</a>
                                        </div>
                                    </nav>
                                </div>
                            </footer>
                        </div>
                    </div>
                    }
                </div>
            </section>
        </div>
    </div>
</section>
}