@(host: String, port: Int, namespaces: List[NamespaceInfo], sets: List[SetInfo], selectedNamespaceName: String, selectedSet: SetInfo, queryForm: Form[QueryForm.Data], record: Option[AerospikeRecord])(implicit request: MessagesRequestHeader)
@import helper._
@implicitField = @{ helper.FieldConstructor(customFormNamespace.f) }

@main("namespace",host, port, namespaces) {
<section class="hero welcome is-small">
    @request.flash.data.map{ case (name, value) =>
    <div class="columns">
        <div class="column is-12">
            <div class="notification is-danger is-size-7">
                <button class="delete"></button>
                @value
            </div>
        </div>
    </div>
    }
    <div class="columns">
        <div class="column is-12">
            <div class="container">
                <h1 class="is-info is-size-5 is-4">
                    NAMESPACE @selectedNamespaceName
                </h1>
            </div>

        </div>
    </div>
</section>
<section class="cluster-info">
    <div class="columns">
        <div class="column is-12">
            <section class="namespace-form">
                <div class="columns">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label">Set name</label>
                            <div class="select">
                                <select>
                                    @for((set, index) <- sets.zipWithIndex) {
                                    <option @if(selectedSet.name== set.name) {selected}
                                            onclick="location.href='@routes.HomeController.namespace(host, port, selectedNamespaceName, Some(set.name))'">
                                        @set.name
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="column is-5">
                        @helper.form(action = routes.HomeController.handleQueryForm(host, port, selectedNamespaceName,
                        selectedSet.name)) {
                        @CSRF.formField
                        @helper.inputText(queryForm("Key"), Symbol("class") -> "input is-normal", Symbol("placeholder")
                        ->
                        "Primary key")
                        }
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Set infos
                            </p>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tr>
                                        <th>Objects</th>
                                        <th>Memory used</th>
                                        <th>Disk used</th>
                                        <th>Disable eviction</th>
                                        <th>Set enable xdr</th>
                                        <th>Stop writes count</th>
                                        <th>Truncate LUT</th>
                                        <th>Tombstones</th>
                                    </tr>
                                    <tbody>
                                    @for((set, index) <- sets.zipWithIndex) {
                                    @if(selectedSet.name == set.name){
                                    <tr class="">
                                        <td>@set.objectsCount</td>
                                        <td>@set.getMemoryUsedBytesH</td>
                                        <td>@set.getDiskUsedBytesH.getOrElse("-")</td>
                                        <td>@set.disableEviction</td>
                                        <td>@set.enableXdr</td>
                                        <td>@set.stopWritesCount</td>
                                        <td>@set.truncateLut</td>
                                        <td>@set.tombstones</td>
                                    </tr>
                                    }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if(record.isDefined) {
                    <div class="container">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Query results
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tr>
                                            <th>PK</th>
                                            <th>Generation</th>
                                            <th>Expiration</th>
                                            @for(binName <- record.get.bins.keys){
                                            <th>@binName</th>
                                            }
                                        </tr>
                                        <tbody>
                                        <tr class="" >
                                            <td>@record.get.key</td>
                                            <td>@record.get.generation</td>
                                            <td>@record.get.expiration</td>
                                            @for(binValue <- record.get.bins.values){
                                            <td>@binValue</td>
                                            }
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </section>
        </div>
    </div>
</section>
}